#continue {
  text-align: center;
  position: relative;
  display: block;
  margin : 0 auto;
}

#party {
  text-align: center;
  display: block;
  margin-bottom: 15%;
}

#datespicker {
  position: relative;
  display: block;
  min-height: 100px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15%;
}

.form-control {
  height: 100px;
}

/* progress bar adapted from https://codepen.io/atakan/pen/gqbIz */
#progressbar {
  margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
  text-align: center;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
#progressbar li.done {
  content: counter(step);

	width: 20px;
	line-height: 20px;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
